<h1>New Class</h1>
<div *ngIf="newCharacterClass">

  <label>Name:</label> <input [(ngModel)]="newCharacterClass.name" #characterName />
  <br/>
  <br/>
  <label>Strength:</label><input [(ngModel)]="newCharacterClass.strength" #characterStrength />
  <br/>
  <label>Agility:</label> <input [(ngModel)]="newCharacterClass.agility" #characterAgility />
  <br/>
  <label>Intellect:</label> <input [(ngModel)]="newCharacterClass.intellect" #characterIntellect />
  <br/>
  <button (click)="add();">
    <p>Add</p>
  </button>
</div>