<h1>New Character</h1>
<div *ngIf="newCharacter">

  <label>Name:</label> <input [(ngModel)]="newCharacter.name" #characterName />
  <br/>
  <label>Race:</label> <select #sel (change)="onRaceChange(sel.value); refresh();">
  <option *ngFor="let race of races">
    {{race.name}}
  </option>
  </select>
  <br/>
  <label>Class:</label> <select #sel2 (change)="onClassChange(sel2.value); refresh();">
  <option *ngFor="let characterClass of characterClasses">
    {{characterClass.name}}
  </option>
  </select>
  <br/>
  <label>Strength:</label> <label>{{newCharacter.strength}}</label>
  <br/>
  <label>Agility:</label> <label>{{newCharacter.agility}}</label>
  <br/>
  <label>Intellect:</label> <label>{{newCharacter.intellect}}</label>
  <br/>
  <button (click)="add();">
    <p>Add</p>
  </button>
</div>