<h2>Available Races</h2>
<ul class="races">
  <li *ngFor="let race of races" [class.selected]="race === selectedRace" (click)="onSelect(race)">
      <span class="badge">{{race.id}}</span> 
      <span>{{race.name}}</span>
      <button class="delete" (click)="delete(race); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedRace">
  <h2>
    {{selectedRace.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<a routerLink="/newRace">Create a new Race</a>
